.footer-section {
  position: relative;
  background: url(../Img/bg-footer.jpg) no-repeat center center/cover;
  z-index: 1;
}

.footer-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(5, 19, 17, .95), rgba(5, 19, 17, .95));
  z-index: -1;
}

.footer-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section a {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a:hover {
    color: #ffc107;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ffc107;
    color: #000;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    font-weight: bold;
}

.footer-line {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 48px;
}

.highlight {
    color: #ffc107;
}

.text-sm {
    font-size: 14px;
}

.back-to-top {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ffc107;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}